.cardRaterForm {
    width: 35rem;
    height: 20rem; 
    background-color: #FEFBE5;
    border: 1px; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin: 5rem auto; 
}

.cardRaterSlider {
    width: 88%; 
    margin: 10px 10px auto ;
}

.cardRaterLabel {
    font-weight: bold;
}

.cardRaterGroup {
    text-align: left;
}

.cardRaterButton {
    float: right;
    width: 10rem; 
    height: 3rem;
    margin: auto 10rem 5rem; 
}