.card-desc-comp {
    margin: 1rem 10% 1rem 10%; 
    border: 0px;
    display: flex; 
    flex-direction: row;

}

.card-desc-img {
    float: left; 
    width: 17.3rem; 
    height: 24.1rem; 
    padding: 0; 
    margin: 0.5rem 2rem 2rem 2rem; 
}

.card-desc-body {
    padding: 3%; 
    float: right; 
    margin: 0 2rem; 
}

.card-desc-name {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.card-desc-sale-price {
    font-family: Inter;
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.card-desc-price-rtn {
    font-family: Inter;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}   

.card-desc-market-price {
    font-weight: bold;
    color: #468226; 
}

.card-desc-rating {
    font-weight: bold;
    color: #FEB729; 
}

.card-desc-info {
    font-family: Inter;
    font-size: 16px; 
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

li {
    margin: 10px 0; 
}

.card-desc-form-label {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.price-input-group {
    height: 40px;
}

/*Have to use this selector to fix the length of the priceTextInput form*/
.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    flex: none; 
    width: 160px; 
}

.button-addon1 {
    width: 122px; 
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    padding: 0.6rem 0.85rem; 
}