#top-nav {
    background-color: #ED1B24;
    --bs-navbar-color: white;
    --bs-navbar-toggler-border-color: white;
    --bs-navbar-hover-color: #ED1B24;
}

.top-nav-link:hover {
    background-color: white;
    font-weight: bold;
    border-radius: 0.3rem;
}

