#footer-nav {
    background-color: #CE1820; 
    --bs-navbar-color: white;
    justify-content: center;
}

.footer-div {
    display: flex;
    flex-direction: row;
}

.footer-text {
    font-size: 0.65rem;
}

/* Note the pokeball logo is not perfectly centered at the 
    bottom. I believe is has something to do with the 
    dimensions of the div that is containing it. */