.home-link-paragraph {
    height: 1.5rem; 
    width: 10rem; 
    margin-top: 1rem; 
    margin-left: 12.5%; 
    margin-bottom: 0; 
    font-size: 12px;
    font-weight: 700; 
    text-align: left;
}

.link-to-home {
    color: black;
    text-decoration: none;
}

.link-to-home:hover {
    font-weight: 800;
    border-radius: 0.3rem;
    color: black;
    text-decoration: none;
}